*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar .nav-link{
    color: rgb(0, 0, 0);
    font-weight:400;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-right: 45px;
}
a:hover{
    color:crimson;
}
.navbar .nav-items{
    color: white;
    size: 700px;
}
.footer {
    color:white;
    background-color: rgb(0, 0, 0);
}
.footer hr{
    font-weight: bold;
}
.footer .footerData i{
    color: white;
    font-size: 40px;
}
.footer .footerData i,span{
    display: inline-block;
}
